

.articleSummary {
	padding-bottom: var(--admin-padding); /* hack*/
}

.articleSummaryGrid {
	display: grid;
	grid-template-columns: 120px auto auto auto;
	gap: var(--admin-spacing);
}

.forceSpotlight {
	margin-right: var(--admin-spacing);
}

