.control-group {
	display: flex;
	gap: var(--admin-spacing);
}

.control-group-vertical {
	flex-direction: column;
}

.control-group + .control-group {
	padding-top: var(--admin-spacing);
	border-top: solid thin gray;
}


.statValueControl .statInput {
	width: 500px;
}

.statValueControl .statInputLabel {
	/*min-width: 200px;*/
}

button {
	cursor: pointer;
}