.timer {
	font-size: 4em;
	/*font-family: monospace;*/
}

.timer-complete {
	animation: blink .8s step-start infinite;
}

.timer-def-button {
	margin-right: 8px;
	background-color: #78b8ef;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.phasesRow-label {
	font-size: 1em;
	margin-right: 16px;
	font-weight: bold;
}

.phase-def-button {
	margin-right: 8px;
	background-color: #a878ef;
}