/*## gen-specific-stuff */

.gen.projector-page {
	background: #000000;
	flex-direction: row;
}

.gen.projector-page .allStats {
	/*position: absolute;*/
	/*left: 0;*/
	/*right: 0;*/
	display: flex;
	flex-direction: column;
	margin-top: 64px;
}

.gen.projector-page .statView {
	height: 64px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 32px;
}

.gen.projector-page .statIcon {
	/*width: 64px;*/
	/*height: 64px;*/
}

.gen.projector-page .statLabel {
	padding: 4px;
	font-size: 92px;
}

.gen.projector-page .statValue {
	padding-left: 16px;
	font-size: 100px;
	font-family: monospace;
}

.gen.projector-page .timer {
	/*font-family: "Norse";*/
	font-family: "TofinoWide-Bold";
	font-weight: bold;
	font-size: 15vmax !important;
	gap: 0;
}

.gen.projector-page .timer .timer-label {
	/*font-family: "Norse";*/
	font-family: "TofinoWide-Medium";
	font-weight: bold;
	font-size: 7vmax !important;
	text-transform: uppercase;
	/*margin-bottom: 7vmax;*/
}

.gen.projector-page #backgroundVideoLoop {
	filter: brightness(1) saturate(1);
}

.gen.projector-page.alpha #backgroundVideoLoop {
	filter: brightness(0.5) hue-rotate(300deg);
}

.gen.projector-page.bravo #backgroundVideoLoop {
	filter: brightness(0.3) hue-rotate(30deg);
}

.gen.projector-page.charlie #backgroundVideoLoop {
	filter: brightness(1) hue-rotate(210deg);
}

.gen.projector-page.delta #backgroundVideoLoop {
	filter: brightness(1) hue-rotate(182.5deg) saturate(200%);
}

.gen.projector-page.echo #backgroundVideoLoop {
	filter: brightness(0.6) hue-rotate(155deg) saturate(200%);
}

.gen.projector-page.wolf #backgroundVideoLoop {
	filter: brightness(1) hue-rotate(-205deg) saturate(200%);
	animation-name: wolf;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes wolf {
	0% {
		filter: brightness(0.6) hue-rotate(-205deg) saturate(200%);
	}
	75% {
		filter: brightness(0.1) hue-rotate(-205deg) saturate(0%);
	}
	100% {
		filter: brightness(0.1) hue-rotate(-205deg) saturate(0%);
	}
}


.gen.projector-page .logo {
	/*display: block;*/
	max-height: 20vh;
	display: none;
}


.gen.projector-page .spotlight-carrier {
	/*font-family: "Norse";*/
	font-family: "TofinoWide-Medium";
	align-items: center;
	text-align: center;
	/*background-image: url('../../assets/images/denofwolves/stone-background-2.jpg');*/
	background-size: cover;
	height: 100vh;
	width: 100vw;
	overflow: visible;

	perspective: 100vw;

}

.gen.projector-page .gnnLateNight .theme {
	font-size: min(4vh, 4vw) !important;
}


.gen.projector-page .spotlight-carrier > * {
	/*background: #000;*/
	/*-webkit-background-clip: text;*/
	/*-webkit-text-fill-color: transparent;*/
}

.gen.projector-page .spotlight-carrier .headline {
	font-size: min(13vh, 10vw);
	text-size-adjust: auto;
	width: 100%;
	text-align: left;
	/*transform: rotate3d(1, 0, 0, 55deg);*/
}

.gen.projector-page .spotlight-carrier .theme {
	font-family: "TofinoWide-Bold";
	text-transform: uppercase;
	position: relative;
	font-size: min(6vh, 6vw);
	margin-bottom: 5vh;
	transform: translateY(2.5vh);
}

.gen.projector-page .spotlight-carrier .theme::after {
	background: #ffcc00;
	position: fixed;
	bottom: -0.2em;
	left: 0;
	height: 0.1em;
	width: 100%;
	display: block;
	content: " ";
	z-index: -1;
}

:root {
	--gen--spacer-width: 15vh;
	--gen--crawler-height: 10vh;
	--gen--crawler-distance-from-bottom: 5vh;
}

/* ## crawler */
.gen.projector-page .crawler-logo {
	/*display: block;*/
	position: fixed;
	height: 10vh;
	left: 2vw;
	bottom: 5vh;
}

.gen.projector-page .crawlerHeadline {
	/*font-family: Norse, sans-serif;*/
	font-family: 'TofinoWide-Bold', serif;
	text-transform: uppercase;
	/*font-family: 'TofinoCond-Bold', serif;*/
	position: relative;
	padding: unset;
	padding-right: var(--gen--spacer-width);
}

.gen.projector-page .crawlerHeadline::before {
	content: "-";
	text-align: center;
	width: var(--gen--spacer-width);
	display: block;
	/*color: #013848;*/
	color: #fc0;
	position: absolute;
	right: 0;
	bottom: 0;
}

.gen.projector-page .crawlGroup.anim0,
.gen.projector-page .crawlGroup.anim1 {
	background: transparent;
}

.gen.projector-page .crawlerContainer {
	background: transparent;
	height: var(--gen--crawler-height);
	position: fixed;
	bottom: var(--gen--crawler-distance-from-bottom);
	left: 26vh;
	width: calc(100vw - 26vh);
	font-size: 3vh;
	display: flex;
	align-items: center;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
	mask-size: 100% 100%;
	mask-repeat: no-repeat;
	mask-position: left top, left bottom;
}

.gen.projector-page .spotlight-carrier .theme {
	/*font-size: 0 !important;*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*display: block;*/
	/*width: calc(410vh / 20);*/
	/*height: calc(156vh / 20);*/
	/*background-position: center;*/
	/*position: fixed;*/
	/*right: 2vw;*/
	/*top: 5vh;*/

}

.gen.projector-page .spotlight-carrier {
	align-items: start;
	position: relative;
}

.gen.projector-page .spotlight-carrier .headline {
	font-size: 6vmax;


	background-size: 15%;
	background-position: right bottom;
	padding-right: 20%;
	background-repeat: no-repeat;
	/*background-image: url('../../assets/images/gen/gnn_logo.svg');*/
}

.gen.projector-page .spotlight-background {
	filter: brightness(0.2) saturate(0%);
}




