/*## Insanity-specific stuff */

:root {
	--insanity--gnn-logo-offset: 10vmin;
	--insanity--gnn-red: #CC0000;
	--insanity--gnn-logo-width: 20vmin;
	--insanity--vertical-edge-distance: 5vmin;
}

.insanity.projector-page #backgroundVideoLoop {
	filter: brightness(0.25) saturate(0);
}

.insanity.projector-page {
	align-items: unset;
}

.insanity.projector-page .logo {
	display: block;
	position: fixed;
	right: var(--insanity--gnn-logo-offset);
	bottom: var(--insanity--vertical-edge-distance);
	width: var(--insanity--gnn-logo-width);

	/* 11 is on top of everything including the transition */
	/* z-index: 11; */
}

.insanity.projector-page .timer .timer-label {
	font-family: "Helvetica", sans-serif;
	font-size: 3vmin;
	position: fixed;
	right: var(--insanity--gnn-logo-offset);
	top: var(--insanity--vertical-edge-distance)
}

.insanity.projector-page .timer {
	/* 11 is on top of everything including the transition */
	/* z-index: 11; */

	position: fixed;
	right: var(--insanity--gnn-logo-offset);
	top: 8vmin;
	font-size: 8.5vmin;
	letter-spacing: -0.02em;
	font-weight: bold;
	font-family: "Helvetica", sans-serif;
	/* text-shadow: 0.01em 0.01em 0 black, 0.02em 0.02em 0 black, 0.03em 0.03em 0 black, 0.04em 0.04em 0 black, 0.05em 0.05em 0 black,
	0.06em 0.06em 0 black, 0.07em 0.07em 0 black, 0.08em 0.08em 0 black, 0.09em 0.09em 0 black, 0.10em 0.10em 0 black,
	0.11em 0.11em 0 black, 0.12em 0.12em 0 black, 0.13em 0.13em 0 black, 0.14em 0.14em 0 black, 0.15em 0.15em 0 black; */

}

.insanity.projector-page .intro,
.insanity.projector-page .outro {
	filter: saturate(0%);
}

.insanity.projector-page .article.spotlight {
	background-color: #369;
}

.insanity.projector-page .spotlight-carrier {
	align-self: flex-start;
	padding: 0 var(--insanity--gnn-logo-offset);
	/*z-index: 2;*/
	font-weight: bold;
	/* text-shadow: 0.01em 0.01em 0 black, 0.02em 0.02em 0 black, 0.03em 0.03em 0 black, 0.04em 0.04em 0 black, 0.05em 0.05em 0 black,
	0.06em 0.06em 0 black, 0.07em 0.07em 0 black, 0.08em 0.08em 0 black, 0.09em 0.09em 0 black, 0.10em 0.10em 0 black,
	0.11em 0.11em 0 black, 0.12em 0.12em 0 black, 0.13em 0.13em 0 black, 0.14em 0.14em 0 black, 0.15em 0.15em 0 black; */
	letter-spacing: -0.02em;
	line-height: 1.1;
	align-items: flex-start;
	flex-direction: column;

	font-size: 6vmax;
	gap: 1vmax;
}

.insanity.projector-page .spotlight-container.headline {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: -0.02em;
	text-transform: capitalize;
	background: white;
	padding: 1vmin;
	text-align: left;
	width: 100vw;
	color: black;
}

.insanity.projector-page .theme {
	font-size: 3vmax;
	display: none;
}

.insanity.projector-page .spotlight-container .spotlight-background {
	transform: translateX(2vw) scale(110%);
	/* display: none; */
}

.insanity.projector-page .headline {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: -0.02em;
	text-transform: capitalize;
}

.insanity.projector-page .articles {
	padding-left: var(--insanity--gnn-logo-offset);
	position: relative;
	display: flex;
	font-size: 5vh;
	background: none;
	letter-spacing: -0.02em;
	font-weight: bold;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-stretch: condensed;

	width: calc(100vw - var(--insanity--gnn-logo-offset) * 2 - 20vw);
}

.insanity.projector-page .articles:before {
	content: "TOP STORIES THIS HOUR";
}

.insanity.projector-page .articles:after {
	content: "";
	width: 100%;

	height: 0.3vh;
	background: var(--insanity--gnn-red);
	position: absolute;
	top: 1.25em;
	z-index: -1;

	display: block;
	/* box-shadow: 0.01em 0.01em 0 black, 0.02em 0.02em 0 black, 0.03em 0.03em 0 black, 0.04em 0.04em 0 black, 0.05em 0.05em 0 black,
	0.06em 0.06em 0 black, 0.07em 0.07em 0 black, 0.08em 0.08em 0 black, 0.09em 0.09em 0 black, 0.10em 0.10em 0 black,
	0.11em 0.11em 0 black, 0.12em 0.12em 0 black, 0.13em 0.13em 0 black, 0.14em 0.14em 0 black, 0.15em 0.15em 0 black; */
}


.insanity.projector-page .articles span.article {
	display: none;
}

.insanity.projector-page .articles div.article:nth-of-type(1n+4) {
	display: none;
}

.insanity.projector-page .allStats {
	position: absolute;
	right: var(--insanity--gnn-logo-offset);
	text-align: right;
}

.insanity.projector-page .defcon-block {
	width: var(--insanity--gnn-logo-width);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	gap: 2vmin;
	font-weight: bold;
	letter-spacing: -0.02em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.insanity.projector-page .defcon.statView {
	border: solid 0.3vmin black;
	border-radius: 0.2vmin;
}

.insanity.projector-page .defcon-block .statLabel {
	color: black;
	font-size: 3vmin;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* DEFCON 1 */
.insanity.projector-page .defcon.defcon-1 {
	border-color: #CC0000;
	color: #CC0000;
}

.insanity.projector-page .defcon-1 .statLabel {
	background: #CC0000;
}
.insanity.projector-page .defcon-1 .stat-group {
	background: #cc000066;
}

/* DEFCON 2 */
.insanity.projector-page .defcon.defcon-2 {
	border-color: #FF6600;
	color: #FF6600;
}

.insanity.projector-page .defcon-2 .statLabel {
	background: #FF6600;
}
.insanity.projector-page .defcon-2 .stat-group {
	background: #FF660066;
}

/* DEFCON 3 */
.insanity.projector-page .defcon.defcon-3 {
	border-color: #FFCC00;
	color: #FFCC00;
}

.insanity.projector-page .defcon-3 .statLabel {
	background: #FFCC00;
}
.insanity.projector-page .defcon-3 .stat-group {
	background: #ffcc0066;
}

.insanity.projector-page .defcon-block .statValue {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.3vmin;

	/* If we're showing flags, we use the following, otherwise comment it out */
	font-size: 5vmin;
	line-height: 1em;
	/* flex-direction: row;
	flex-wrap: wrap; */
	align-items: center;
	justify-content: center;
}

.insanity.projector-page .defcon-block .stat-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1vmin;
	padding: 1vmin;
	width: 100%;
}

.insanity.projector-page .defcon-block .stat-group.trending-up-group::before {
  content: "▲▲▲";
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.5em; /* adjust as needed */
}
.insanity.projector-page .defcon-block .stat-group.neutral-group {
	/* background: none; */
}
.insanity.projector-page .defcon-block .stat-group.trending-down-group::after {
  content: "▼▼▼";
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.5em; /* adjust as needed */
}

.insanity.projector-page .defcon-block .individual-stat-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5vmin;
}

.insanity.projector-page .defcon-block .arrow {
	font-size: 0.5em;
}

/* .individual-stat-block {
  order: 1; 
}

.trending-up {
  order: 0; 
}

.trending-down {
  order: 2;
} */


/* .insanity.projector-page .trending-up::after {
  content: "▲";
  font-size: 0.9em;
  margin-left: 0.5vmin;
  vertical-align: middle;
}

.insanity.projector-page .trending-down::after {
  content: "▼";
  font-size: 0.9em;
  margin-left: 0.5vmin;
  vertical-align: middle;
} */

.insanity.projector-page .corp-block {
	display: none;
	/* TEMPORARY */
}