/*## Goblin-specific-stuff */

.goblin.projector-page .logo {
	/*display: block;*/
	max-height: 20vh;
	display: none;
}

.goblin.projector-page .timer {
	/*font-family: "Norse";*/
	font-family: "Copperplate";
	font-weight: bold;
	font-size: 30vh;
	text-shadow:0 -2px 2px rgba(0,0,0,0.5);

}

.goblin.projector-page .timer .timer-label {
	/*font-family: "Norse";*/
	font-family: "Copperplate";
	font-weight: bold;
}

.goblin.projector-page .spotlight-carrier {
	/*font-family: "Norse";*/
	font-family: "Copperplate";
	align-items: center;
	text-align: center;
	mix-blend-mode: screen;
	background-color: white;
	background-image: url('../../assets/images/goblin/stone-background-2.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;

	perspective: 100vw;
}

.goblin.projector-page .spotlight-carrier > * {
	/*background: #000;*/
	/*-webkit-background-clip: text;*/
	/*-webkit-text-fill-color: transparent;*/
}

.goblin.projector-page .spotlight-carrier .headline {
	font-size: 6vmax;
	text-size-adjust: auto;
	/*transform: rotate3d(1, 0, 0, 55deg);*/
}

.goblin.projector-page .spotlight-carrier .theme {
	font-family: "Copperplate";
	text-transform: uppercase;
	position: relative;
	font-size: min(6vh, 6vw);
	margin-bottom: 5vh;
	transform: translateY(2.5vh);
}

.goblin.projector-page .spotlight-carrier .theme::after {
	background: #ffcc00;
	position: fixed;
	bottom: -0.2em;
	left: 0;
	height: 0.1em;
	width: 100%;
	display: block;
	content: " ";
	z-index: -1;
}

:root {
	--goblin--spacer-width: 15vh;
	--goblin--crawler-height: 10vh;
	--goblin--crawler-distance-from-bottom: 5vh;
}
/* ## crawler */
.goblin.projector-page .crawler-logo {
	/*display: block;*/
	position: fixed;
	height: 20vh;
	left: 0;
	bottom: 0;
	display: none;
}
.goblin.projector-page .crawlerHeadline {
	/*font-family: Norse, sans-serif;*/
	font-family: "Copperplate";
	text-transform: uppercase;
	/*font-family: 'TofinoCond-Bold', serif;*/
	position: relative;
	padding: unset;
	padding-right: var(--goblin--spacer-width);
}
.goblin.projector-page .crawlerHeadline::before {
	content: "⬩";
	font-size: 8.5vh;
	text-align: center;
	width: var(--goblin--spacer-width);
	display: block;
	/*color: #013848;*/
	color: #fc0;
	position: absolute;
	right: 0;
	bottom: -0.330em;
}

.goblin.projector-page .crawlGroup.anim0,
.goblin.projector-page .crawlGroup.anim1 {
	background: transparent;
}
.goblin.projector-page .crawlerContainer {
	background: transparent;
	height: var(--goblin--crawler-height);
	position: fixed;
	bottom: var(--goblin--crawler-distance-from-bottom);
	left: 00vh;
	width: calc(100vw);
	font-size: 3vh;
	display: flex;
	align-items: center;
	text-shadow:0 -2px 2px rgba(0,0,0,0.5);

	/*-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));*/
	/*-webkit-mask-size: 100% 100%;*/
	/*-webkit-mask-repeat: no-repeat;*/
	/*-webkit-mask-position: left top, left bottom;*/
}


/*      ##  bigcheesesez */
.goblin.projector-page .bigcheesesez video.intro,
.goblin.projector-page .bigcheesesez video.outro {
	/*filter: invert(1) hue-rotate(-30deg);*/
}
.goblin.projector-page .bigcheesesez .theme {
	display: none;
}
.goblin.projector-page .bigcheesesez .headline {
	position: relative;
	color: #ffd634;
}
.goblin.projector-page .bigcheesesez .headline::before {
	position: absolute;
	width: 100%;
	height: 100px;
	top: -100px;
	left: 0;

	content: " ";
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../assets/images/goblin/bigcheesesez.svg');
 }
.goblin.projector-page .bigcheesesez .spotlight-carrier {
	background: #333;
}

/*      ## revenantreport */
.goblin.projector-page .revenantreport video.intro,
.goblin.projector-page .revenantreport video.outro {
	/*filter: invert(1) hue-rotate(-30deg);*/
}
.goblin.projector-page .revenantreport .theme {
	display: none;
}
.goblin.projector-page .revenantreport .headline {
	position: relative;
	color: #000;
}
.goblin.projector-page .revenantreport .headline::before {
	position: absolute;
	width: 100%;
	height: 150px;
	top: -150px;
	left: 0;

	content: " ";
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../assets/images/goblin/revenantreport.svg');
}
.goblin.projector-page .revenantreport .spotlight-carrier {
	background: #00BF63;
}

/*      ## thesentinel */
.goblin.projector-page .thesentinel video.intro,
.goblin.projector-page .thesentinel video.outro {
	/*filter: sepia(100%) hue-rotate(0deg) saturate(300%) brightness(150%);*/
	filter: invert(0) hue-rotate(20deg) brightness(200%);
}
.goblin.projector-page .thesentinel .spotlight-carrier {
	filter: invert(1) hue-rotate(220deg) brightness(100%);
	background-image: url('../../assets/images/goblin/stone-background-2_gold.jpg');
}
.goblin.projector-page .thesentinel .spotlight-carrier .theme::after {
	background: #000;
}

/*      ## thesiren */
.goblin.projector-page .thesiren video.intro,
.goblin.projector-page .thesiren video.outro {
	filter: sepia(100%) hue-rotate(170deg) saturate(300%) brightness(150%);
}
.goblin.projector-page .thesiren {
	filter: invert(0) hue-rotate(50deg);
}
.goblin.projector-page .thesiren video.spotlight-background {
	transform: rotateX(180deg);
	filter: brightness(500%) hue-rotate(260deg);
}
.goblin.projector-page .thesiren .spotlight-carrier {
	filter: brightness(100%) invert(1) hue-rotate(190deg);
	background-image: url('../../assets/images/goblin/stone-background-2_gold.jpg');
	mix-blend-mode: hard-light;
	color: white;
}
.goblin.projector-page .thesiren .spotlight-carrier .theme::after {
	background: #000;
}


/*      ## thebeholdersbugle */
.goblin.projector-page .thebeholdersbugle video.intro,
.goblin.projector-page .thebeholdersbugle video.outro {
	filter: sepia(100%) hue-rotate(-25deg) saturate(300%) brightness(150%);
}
.goblin.projector-page .thebeholdersbugle video.spotlight-background {
	filter: brightness(250%) invert(1) hue-rotate(180deg);
}
.goblin.projector-page .thebeholdersbugle video.spotlight-background {
	transform: rotateX(180deg);
	filter: brightness(150%);
}
.goblin.projector-page .thebeholdersbugle .spotlight-carrier {
	filter: brightness(100%) invert(0) hue-rotate(180deg);
	background-image: url('../../assets/images/goblin/stone-background-2_gold.jpg');
}
.goblin.projector-page .thebeholdersbugle .spotlight-carrier .theme::after {
	background: #000;
}

.goblin.projector-page .spotlight-carrier .smaller-text-please {
	font-size: 10px;

}