/*## Grimvale-specific-stuff */

.grimvale.projector-page .logo {
	/*display: block;*/
	max-height: 20vh;
	display: none;
}

.grimvale.projector-page .timer {
	/*font-family: "Norse";*/
	font-variant-numeric: tabular-nums;
	font-family: "Copperplate";
	font-weight: bold;
	font-size: 30vh;
}

.grimvale.projector-page .timer .timer-label {
	/*font-family: "Norse";*/
	font-family: "Rock Thorn", "Copperplate";
	font-weight: bold;
}

.grimvale.projector-page .spotlight-carrier {
	/*font-family: "Norse";*/
	font-family: "Rock Thorn", "Copperplate";
	align-items: center;
	text-align: center;
	mix-blend-mode: screen;
	background-color: white;
	background-image: url('../../assets/images/grimvale/stone-background-2.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;

	perspective: 100vw;
}

.grimvale.projector-page .spotlight-carrier > * {
	background: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grimvale.projector-page .spotlight-carrier .headline {
	font-size: 6vmax;
	text-size-adjust: auto;
	/*transform: rotate3d(1, 0, 0, 55deg);*/
}

.grimvale.projector-page .spotlight-carrier .theme {
	font-family: "Rock Thorn", "Copperplate";
	text-transform: uppercase;
	position: relative;
	font-size: min(6vh, 6vw);
	margin-bottom: 5vh;
	transform: translateY(2.5vh);
}

.grimvale.projector-page .spotlight-carrier .theme::after {
	background: #ffcc00;
	position: fixed;
	bottom: -0.2em;
	left: 0;
	height: 0.1em;
	width: 100%;
	display: block;
	content: " ";
	z-index: -1;
}

:root {
	--grimvale--spacer-width: 15vh;
	--grimvale--crawler-height: 10vh;
	--grimvale--crawler-distance-from-bottom: 5vh;
}
/* ## crawler */
.grimvale.projector-page .crawler-logo {
	/*display: block;*/
	position: fixed;
	height: 20vh;
	left: 0;
	bottom: 0;
}
.grimvale.projector-page .crawlerHeadline {
	/*font-family: Norse, sans-serif;*/
	font-family: "Rock Thorn", "Copperplate";
	text-transform: uppercase;
	/*font-family: 'TofinoCond-Bold', serif;*/
	position: relative;
	padding: unset;
	padding-right: var(--grimvale--spacer-width);
}
.grimvale.projector-page .crawlerHeadline::before {
	content: "⬩";
	font-size: 8.5vh;
	text-align: center;
	width: var(--grimvale--spacer-width);
	display: block;
	/*color: #013848;*/
	color: #fc0;
	position: absolute;
	right: 0;
	bottom: -0.330em;
}

.grimvale.projector-page .crawlGroup.anim0,
.grimvale.projector-page .crawlGroup.anim1 {
	background: transparent;
}
.grimvale.projector-page .crawlerContainer {
	background: transparent;
	height: var(--grimvale--crawler-height);
	position: fixed;
	bottom: var(--grimvale--crawler-distance-from-bottom);
	left: 10vh;
	width: calc(100vw - 10vh);
	font-size: 3vh;
	display: flex;
	align-items: center;
	-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: left top, left bottom;
}


/*      ##  hearsay */
.grimvale.projector-page .hearsay .spotlight-background {
	filter: brightness(500%) hue-rotate(50deg);
}
.grimvale.projector-page .hearsay {
	filter: brightness(100%) invert(0) hue-rotate(0deg) saturate(150%);
}
.grimvale.projector-page .hearsay .spotlight-carrier {
	mix-blend-mode: screen;
}
.grimvale.projector-page .hearsay .spotlight-carrier .theme::after {
	background: #f00;
}

/*      ## innovation */
.grimvale.projector-page .innovation video.intro,
.grimvale.projector-page .innovation video.outro {
	filter: invert(1) hue-rotate(-30deg);
}
.grimvale.projector-page .innovation {
	filter: invert(1);
}
.grimvale.projector-page .innovation video.spotlight-background {
	filter: brightness(600%) invert(0)  hue-rotate(180deg) saturate(50%);
}
.grimvale.projector-page .innovation .spotlight-carrier {
	background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');
	filter: brightness(75%) invert(1) ;
	mix-blend-mode: multiply;
}
.grimvale.projector-page .innovation .spotlight-carrier .theme::after {
	background: #000;
}

/*      ## lifestyle */
.grimvale.projector-page .lifestyle video.intro,
.grimvale.projector-page .lifestyle video.outro {
	filter: sepia(100%) hue-rotate(170deg) saturate(300%) brightness(150%);
}
.grimvale.projector-page .lifestyle {
	filter: invert(0) hue-rotate(50deg);
}
.grimvale.projector-page .lifestyle video.spotlight-background {
	transform: rotateX(180deg);
	filter: brightness(500%) hue-rotate(260deg);
}
.grimvale.projector-page .lifestyle .spotlight-carrier {
	filter: brightness(100%) invert(1) hue-rotate(190deg);
	background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');
	mix-blend-mode: hard-light;
	color: white;
}
.grimvale.projector-page .lifestyle .spotlight-carrier .theme::after {
	background: #000;
}

/*      ## accolade */
.grimvale.projector-page .accolade video.intro,
.grimvale.projector-page .accolade video.outro {
	filter: sepia(100%) hue-rotate(-20deg) saturate(300%) brightness(150%);
}
.grimvale.projector-page .accolade {
	filter: invert(0) hue-rotate(50deg);
}
.grimvale.projector-page .accolade video.spotlight-background {
	transform: rotateX(180deg);
	filter: brightness(500%) hue-rotate(100deg);
}
.grimvale.projector-page .accolade .spotlight-carrier {
	filter: brightness(100%) invert(1) hue-rotate(190deg);
	background-image: unset;
	/*background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');*/
	/*mix-blend-mode: hard-light;*/
	color: white;
}
.grimvale.projector-page .accolade .spotlight-carrier .theme::after {
	background: #000;
}


/*      ## crisis */
.grimvale.projector-page .crisis video.intro,
.grimvale.projector-page .crisis video.outro {
	filter: sepia(100%) hue-rotate(-25deg) saturate(300%) brightness(150%);
}
.grimvale.projector-page .crisis video.spotlight-background {
	filter: brightness(250%) invert(1) hue-rotate(180deg);
}
.grimvale.projector-page .crisis video.spotlight-background {
	transform: rotateX(180deg);
	filter: brightness(150%);
}
.grimvale.projector-page .crisis .spotlight-carrier {
	filter: brightness(100%) invert(0) hue-rotate(180deg);
	background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');
}
.grimvale.projector-page .crisis .spotlight-carrier .theme::after {
	background: #000;
}

/*      ## finance */
.grimvale.projector-page .finance video.intro,
.grimvale.projector-page .finance video.outro {
	filter: invert(1) hue-rotate(-30deg);
}
.grimvale.projector-page .finance {
	filter: invert(1) sepia(1);
}
.grimvale.projector-page .finance video.spotlight-background {
	transform: rotateX(180deg);
}
.grimvale.projector-page .finance .spotlight-carrier {
	mix-blend-mode: screen;
	filter: brightness(100%) invert(1) hue-rotate(200deg);
}
.grimvale.projector-page .finance .spotlight-carrier .theme::after {
	background: #f70;
}

/*      ## doom */
.grimvale.projector-page .doom video.intro,
.grimvale.projector-page .doom video.outro {
	/*filter: saturate(100%) hue-rotate(-0deg);*/
	/*filter: brightness(100%) sepia(1) saturate(400%) hue-rotate(-38deg);*/
}
.grimvale.projector-page .doom .spotlight-carrier {
	mix-blend-mode: overlay;
	filter: invert(1); /* TODO: Ask Trenton */
}
.grimvale.projector-page .doom .spotlight-carrier .theme::after {
	background: #000;
}

/* Golden accolade */
/*.grimvale.projector-page .spotlight-articles .accolade video.spotlight-background {*/
/*	filter: hue-rotate(110deg);*/
/*}*/
/*.grimvale.projector-page .accolade .spotlight-carrier {*/
/*	mix-blend-mode: screen;*/
/*	filter: brightness(100%) invert(1) hue-rotate(200deg);*/
/*}*/
/*.grimvale.projector-page .spotlight-articles .accolade .spotlight-carrier .theme::after {*/
/*	background: #f70;*/
/*}*/

/* Maybe a better hearsay? */
/*.grimvale.projector-page .crisis {*/
/*	filter: brightness(100%) invert(1) hue-rotate(160deg);*/
/*}*/
/*.grimvale.projector-page .crisis .spotlight-carrier {*/
/*	!*mix-blend-mode: hard-light;*!*/
/*	filter: brightness(100%) invert(1) hue-rotate(180deg);*/
/*}*/
/*.grimvale.projector-page .crisis .spotlight-carrier .headline {*/
/*	!*mix-blend-mode: multiply;*!*/
/*}*/
/*.grimvale.projector-page .crisis .spotlight-carrier .theme::after {*/
/*	background: #ff00ff;*/
/*}*/


/* Light background gold kinda nice */
/*.grimvale.projector-page .spotlight-articles .grudge video.spotlight-background {*/
/*	filter: hue-rotate(110deg);*/
/*}*/
/*.grimvale.projector-page .spotlight-articles .grudge {*/
/*	filter: brightness(150%) invert(0) hue-rotate(0deg);*/
/*}*/
/*.grimvale.projector-page .grudge .spotlight-carrier {*/
/*	mix-blend-mode: hard-light;*/
/*}*/
/*.grimvale.projector-page .spotlight-articles .grudge .spotlight-carrier .theme::after {*/
/*	background: #606;*/
/*}*/

.grimvale.projector-page .spotlight-carrier .smaller-text-please {
	font-size: 10px;

}