/*## Grimvale-specific-stuff */

.grimvale.projector-page .logo {
	/*display: block;*/
	max-height: 20vh;
	display: none;
}

.grimvale.projector-page .timer {
	/*font-family: "Norse";*/
	/*font-family: "Trattatello";*/
	font-family: "Copperplate";
	font-weight: bold;
	font-size: 30vh;
}

.grimvale.projector-page .timer .timer-label {
	/*font-family: "Norse";*/
	font-family: "Copperplate";
	font-weight: bold;
}

.grimvale.projector-page .spotlight-carrier {
	/*font-family: "Norse";*/
	font-family: "Copperplate";
	align-items: center;
	text-align: center;
	mix-blend-mode: screen;
	background-color: white;
	background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;

	perspective: 100vw;
}

.grimvale.projector-page .spotlight-carrier > * {
	background: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grimvale.projector-page .spotlight-carrier .headline {
	font-size: 6vmax;
	text-size-adjust: auto;
	/*transform: rotate3d(1, 0, 0, 55deg);*/
}

.grimvale.projector-page .spotlight-carrier .theme {
	font-family: "Copperplate";
	text-transform: uppercase;
	position: relative;
	font-size: min(6vh, 6vw);
	margin-bottom: 5vh;
	transform: translateY(2.5vh);
}

.grimvale.projector-page .spotlight-carrier .theme::after {
	background: #ffcc00;
	position: fixed;
	bottom: -0.2em;
	left: 0;
	height: 0.1em;
	width: 100%;
	display: block;
	content: " ";
	z-index: -1;
}

:root {
	--grimvale--spacer-width: 15vh;
	--grimvale--crawler-height: 10vh;
	--grimvale--crawler-distance-from-bottom: 5vh;
}
/* ## crawler */
.grimvale.projector-page .crawler-logo {
	/*display: block;*/
	position: fixed;
	height: 20vh;
	left: 0;
	bottom: 0;
	display: none;
}
.grimvale.projector-page .crawlerHeadline {
	/*font-family: Norse, sans-serif;*/
	font-family: 'Copperplate', serif;
	text-transform: uppercase;
	position: relative;
	padding: unset;
	padding-right: var(--grimvale--spacer-width);
}
.grimvale.projector-page .crawlerHeadline::before {
	content: "⬩";
	font-size: 8.5vh;
	text-align: center;
	width: var(--grimvale--spacer-width);
	display: block;
	/*color: #013848;*/
	color: #fc0;
	position: absolute;
	right: 0;
	bottom: -0.4em;
}

.grimvale.projector-page .crawlGroup.anim0,
.grimvale.projector-page .crawlGroup.anim1 {
	background: transparent;
}
.grimvale.projector-page .crawlerContainer {
	background: transparent;
	height: var(--grimvale--crawler-height);
	position: fixed;
	bottom: var(--grimvale--crawler-distance-from-bottom);
	left: 0;
	width: 100vw;
	font-size: 3vh;
	display: flex;
	align-items: center;
	/*-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));*/
	/*-webkit-mask-size: 100% 100%;*/
	/*-webkit-mask-repeat: no-repeat;*/
	/*-webkit-mask-position: left top, left bottom;*/
}


/*      ## redbard */
.grimvale.projector-page .redbard .spotlight-carrier .theme,
.grimvale.projector-page .redbard .spotlight-carrier .headline  {
	font-family: "Norse";
	text-transform: uppercase;
}
.grimvale.projector-page .redbard {
	filter: invert(0) hue-rotate(150deg);
}
.grimvale.projector-page .redbard .intro,
.grimvale.projector-page .redbard .outro
{
	filter: hue-rotate(-25deg) saturate(300%);
}
.grimvale.projector-page .redbard video.spotlight-background {
	filter: brightness(500%) hue-rotate(260deg);
}
.grimvale.projector-page .redbard .spotlight-carrier {
	filter: brightness(100%) invert(1) hue-rotate(190deg);
	background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');
	mix-blend-mode: hard-light;
	color: white;
}
.grimvale.projector-page .redbard .spotlight-carrier .theme::after {
	background: #000;
}

/*  ## greenbard */
.grimvale.projector-page .greenbard .spotlight-carrier .theme,
.grimvale.projector-page .greenbard .spotlight-carrier .headline  {
	font-family: "Luminari";
	text-transform: uppercase;
}
.grimvale.projector-page .greenbard {
	/*filter: invert(1);*/
	filter: hue-rotate(100deg);
}
.grimvale.projector-page .greenbard .intro,
.grimvale.projector-page .greenbard .outro
{
	filter: hue-rotate(130deg) saturate(200%);
}
.grimvale.projector-page .greenbard video.spotlight-background {
	filter: brightness(600%) invert(1)  hue-rotate(280deg) saturate(50%);
}
.grimvale.projector-page .greenbard .spotlight-carrier {
	background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');
	filter: brightness(75%) invert(1) ;
	mix-blend-mode: multiply;
}
.grimvale.projector-page .greenbard .spotlight-carrier .theme::after {
	background: #000;
}

/*      ## bluebard */
.grimvale.projector-page .bluebard .spotlight-carrier .theme,
.grimvale.projector-page .bluebard .spotlight-carrier .headline  {
	font-family: "Rock Thorn";
	text-transform: uppercase;
}
.grimvale.projector-page .bluebard {
	/*filter: invert(0) hue-rotate(180deg);*/
}
.grimvale.projector-page .bluebard .intro,
.grimvale.projector-page .bluebard .outro
{
	filter: hue-rotate(0deg) saturate(200%);
}
.grimvale.projector-page .bluebard video.spotlight-background {
	filter: brightness(500%) hue-rotate(260deg);
}
.grimvale.projector-page .bluebard .spotlight-carrier {
	filter: brightness(100%) invert(1) hue-rotate(190deg);
	background-image: url('../../assets/images/grimvale/stone-background-2_gold.jpg');
	mix-blend-mode: hard-light;
	color: white;
}
.grimvale.projector-page .bluebard .spotlight-carrier .theme::after {
	background: #000;
}


/*      ## carrier */
.grimvale.projector-page .doom .spotlight-carrier {
	mix-blend-mode: overlay;
	filter: invert(1); /* TODO: Ask Trenton */
}
.grimvale.projector-page .doom .spotlight-carrier .theme::after {
	background: #000;
}

.grimvale.projector-page .spotlight-carrier .smaller-text-please {
	font-size: 10px;

}