

.projector-page {
	margin: 0;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;

	font-size: 2vh;
}

.projector-page #backgroundVideoLoop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	filter: brightness(0.3);
	z-index: -1;
	/* filter: hue-rotate(235deg) saturate(1); */
}

.projector-page .stinger {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: 2;
}

 .projector-page .in-stinger {
	/* filter: brightness(0.5); */
	/* filter: hue-rotate(235deg) saturate(1) brightness(0.5); */
}

.projector-page .out-stinger {
	/* filter: hue-rotate(235deg) saturate(1) brightness(0.5); */
}

/* TODO: TMP */
.projector-page .articles {
	background: red;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

@keyframes animation-only-used-to-trick-the-dom-into-firing-an-onAnimationStart-event-so-we-can-detect-when-this-element-is-created {
	from { caption-side: bottom; }
	to { caption-side: bottom; }
}

.projector-page .spotlight-articles .article {
	display: none;
}

.projector-page .spotlight-articles .article.spotlight {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #f60;
	z-index: 1;
	box-sizing: border-box;
	animation-name: animation-only-used-to-trick-the-dom-into-firing-an-onAnimationStart-event-so-we-can-detect-when-this-element-is-created;
	animation-duration: 1ms;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.projector-page .spotlight-articles .article.spotlight.now-showing {
	opacity: 1;
}

.projector-page .spotlight-carrier {
	display: flex;
	color: white;
	line-height: 1.1;
	font-size: 15vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	padding: 10vh;
}

.projector-page .spotlight-articles .article.spotlight .spotlight-background {
	z-index: 1;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	object-fit: cover;
}

.projector-page .spotlight-articles .article.spotlight *:not(video) {
	z-index: 2;
}

/*.projector-page .spotlight-articles > .article.spotlight video*/

/* Deephaven-specific-stuff */
:root {
	--control-radius: 5px;
	--admin-spacing: 10px;
}

@font-face {
	font-family: "NCAA NKU Norse";
	src:
		url("../assets/fonts/NCAA_NKU_Norse/NCAANkuNorse-Plain.woff2") format("woff2"),
		url("../assets/fonts/NCAA_NKU_Norse/NCAANkuNorse-Plain.woff") format("woff");
}

.deephaven.projector-page .spotlight-carrier {
	font-family: "Norse";
	align-items: center;
	text-align: center;
	mix-blend-mode: screen;
	background-color: white;
	background-image: url('../assets/images/deephaven/stone-background.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.deephaven.projector-page .spotlight-carrier > * {
	background: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.deephaven.projector-page .spotlight-carrier .headline {
	font-size: min(12vh, 10vw);
}

.deephaven.projector-page .spotlight-carrier .theme {
	font-family: "NCAA NKU Norse";
	text-transform: uppercase;
	position: relative;
	font-size: min(6vh, 6vw);
	transform: translateY(2.5vh);  /* NKU Norse is tricky with its baseline so translate it */
	margin-bottom: 5vh;
}

.deephaven.projector-page .spotlight-carrier .theme::after {
	background: #ffcc00;
	position: fixed;
	bottom: 0.1em;
	left: 0;
	height: 0.1em;
	width: 100%;
	display: block;
	content: " ";
	z-index: -1;
}



.deephaven.projector-page .calamity {
	filter: brightness(100%) invert(1) hue-rotate(160deg);
}
.deephaven.projector-page .calamity .spotlight-carrier {
	mix-blend-mode: screen;
}
.deephaven.projector-page .calamity .spotlight-carrier .theme::after {
	background: #ff0000;
}


.deephaven.projector-page .discovery {
	filter: brightness(100%) hue-rotate(300deg);
}
.deephaven.projector-page .discovery .spotlight-carrier {
	mix-blend-mode: screen;
}
.deephaven.projector-page .discovery .spotlight-carrier .theme::after {
	background: #0000ff;
}

.deephaven.projector-page .spotlight-articles video.spotlight-background.doom-background,
.deephaven.projector-page .spotlight-articles .doom video.spotlight-background {
	display: none;
}
.deephaven.projector-page .spotlight-articles .doom video.spotlight-background.doom-background {
	display: block;
}
.deephaven.projector-page .doom .spotlight-carrier {
	mix-blend-mode: overlay;
	filter: invert(1); /* TODO: Ask Trenton */
}
.deephaven.projector-page .spotlight-articles .doom .spotlight-carrier .theme::after {
	background: #000;
}

@keyframes grudge {
	0%{
		filter: brightness(150%) invert(1);
	}
	10%{
		filter: brightness(175%) invert(1);
	}
	75%{
		filter: brightness(100%) invert(1);
	}
	100%{
		filter: brightness(95%) invert(1);
	}
}
.deephaven.projector-page .spotlight-articles .grudge {
	animation: grudge ease-in-out 6s infinite alternate-reverse;
}
.deephaven.projector-page .grudge .spotlight-carrier {
	mix-blend-mode: hard-light;
}
.deephaven.projector-page .spotlight-articles .grudge .spotlight-carrier .theme::after {
	background: #606;
}


.deephaven.projector-page .gossip {
	filter: brightness(100%) invert(0) hue-rotate(0deg) saturate(150%);
}
.deephaven.projector-page .gossip .spotlight-carrier {
	mix-blend-mode: screen;
}
.deephaven.projector-page .gossip .spotlight-carrier .theme::after {
	background: #a0a;
}


.deephaven.projector-page .spotlight-articles .oath {
	filter: invert(1) sepia(1);
}
.deephaven.projector-page .oath .spotlight-carrier {
	mix-blend-mode: screen;
	filter: brightness(100%) invert(1) hue-rotate(200deg);
}
.deephaven.projector-page .spotlight-articles .oath .spotlight-carrier .theme::after {
	background: #f70;
}


.deephaven.projector-page .spotlight-articles .triumph video.spotlight-background {
	filter: hue-rotate(110deg);
}
.deephaven.projector-page .triumph .spotlight-carrier {
	mix-blend-mode: screen;
	filter: brightness(100%) invert(1) hue-rotate(200deg);
}
.deephaven.projector-page .spotlight-articles .triumph .spotlight-carrier .theme::after {
	background: #f70;
}


/* Light background gold kinda nice */
/*.deephaven.projector-page .spotlight-articles .grudge video.spotlight-background {*/
/*	filter: hue-rotate(110deg);*/
/*}*/
/*.deephaven.projector-page .spotlight-articles .grudge {*/
/*	filter: brightness(150%) invert(0) hue-rotate(0deg);*/
/*}*/
/*.deephaven.projector-page .grudge .spotlight-carrier {*/
/*	mix-blend-mode: hard-light;*/
/*}*/
/*.deephaven.projector-page .spotlight-articles .grudge .spotlight-carrier .theme::after {*/
/*	background: #606;*/
/*}*/