.projector-page {
	margin: 0;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;

	font-size: 2vh;
}

.projector-page #backgroundVideoLoop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	filter: brightness(0.3);
	z-index: -1;
	/* filter: hue-rotate(235deg) saturate(1); */
}

.projector-page .stinger {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: 2;
}

 .projector-page .in-stinger {
	/* filter: brightness(0.5); */
	/* filter: hue-rotate(235deg) saturate(1) brightness(0.5); */
}

.projector-page .out-stinger {
	/* filter: hue-rotate(235deg) saturate(1) brightness(0.5); */
}

/* TODO: TMP */
.projector-page .articles {
	background: red;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.projector-page .spotlight-articles > .article {
	display: none;
}

.projector-page .spotlight-articles > .article.spotlight {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #f60;
	color: white;
	line-height: 1.1;
	font-size: 10vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10vh;
	z-index: 1;
	box-sizing: border-box;
	animation-name: animation-only-used-to-trick-the-dom-into-firing-an-onAnimationStart-event-so-we-can-detect-when-this-element-is-created;
	animation-duration: 1ms;
	opacity: 0;
	display: flex;
}

.projector-page .spotlight-articles > .article.spotlight.now-showing {
	opacity: 1;
}

@keyframes animation-only-used-to-trick-the-dom-into-firing-an-onAnimationStart-event-so-we-can-detect-when-this-element-is-created {
	from { caption-side: bottom; }
	to { caption-side: bottom; }
}

.projector-page .spotlight-articles > .article.spotlight > video {
	z-index: 1;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	object-fit: cover;
}

.projector-page .spotlight-articles > .article.spotlight > .headline {
	z-index: 2;
}

.projector-page .spotlight-articles > .article.spotlight.doom > .headline {
	color: black;
	font-weight: bold;

	-webkit-text-fill-color: #000;
	-webkit-text-stroke-width: 0.2vh;
	-webkit-text-stroke-color: #ffcc0033;
	paint-order: stroke fill;
}