
body {
	margin: 0;
	padding: 0;
	background-color: #cbcbcb;
	/* background-image: url('ink3.svg'); */
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
}

:root {
	--admin-padding: 30px;
	--control-radius: 5px;
	--admin-spacing: 10px;
}

button, input, submit, textarea {
	border: none;
	border-radius: var(--control-radius);
	padding: var(--admin-spacing);
}

input, textarea {
	border: solid thin gray;
	background: white;
}

button {
	background-color: #cfec85;
	text-align: center;
}

button:hover {
	background-color: #a7e36a;
}

button:focus {
	outline: 4px solid #fff;
	/*border-radius: 5px;*/
}

button:disabled {
	background-color: #adadad;
	color: #797979;
}

.dangerButton {
	background-color: #ff4b4b;
}

label {
	display: flex;
	align-items: center;
	gap: var(--admin-spacing);
}

/*!* TODO: #jedstyle 😎 *!*/

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2.15em;
}

h4 {
	font-size: 1.85em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.15em;
}

.control-page {
	margin: var(--admin-padding);
	display: flex;
	flex-direction: column;
	gap: var(--admin-spacing);
	width: 100%;
}

/* TODO: radios styling */
.radios {
	display: flex;
	flex-direction: row;
	cursor: default;
}

.radios label {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 8px;
}

.radios input {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.radios input:checked{
	background-color: #000;
}

textarea {
	width: 100%;
	min-height: 30vh;
	font-size: 20px;
}

.headlineControls {
	display: grid;
	grid-template-areas: "headline type submit";
	grid-template-columns: 60vw auto auto;
}

.headlineControls div:first-child {
	grid-area: headline;
}
.headlineControls fieldset {
	grid-area: type;
	border: none;
	display: flex;
	flex-direction: column;
}
.headlineControls button {
	grid-area: submit;
}
.headlineControls legend {
	display: none;
}

.playerPage .timer-label {
	margin-left: 0.5em;
	font-style: italic;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #00000044;
	opacity: 1; /* Firefox */
}