
@font-face {
	font-family: 'NCAA NKU Norse';
	src: url("../assets/fonts/NCAA_NKU_Norse/NCAANKUNorse-Plain.woff") format("woff");
}

@font-face {
	font-family: 'TofinoWide-Medium';
	font-weight: 400;
	font-style: normal;
	src: url("../assets/fonts/Tofino/Wide/OTF/TofinoWide-Medium.otf") format("opentype");
}

@font-face {
	font-family: 'TofinoWide-Bold';
	font-weight: 400;
	font-style: normal;
	src: url("../assets/fonts/Tofino/Wide/OTF/TofinoWide-Bold.otf") format("opentype");
}

@font-face {
	font-family: 'TofinoCond-Bold';
	font-weight: 400;
	font-style: normal;
	src: url("../assets/fonts/Tofino/Condensed/OTF/TofinoCond-Bold.otf") format("opentype");
}