body {
	margin: 0;
	padding: 0;
	background-color: #cbcbcb;
	/* background-image: url('ink3.svg'); */
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
}

/* TODO: #jedstyle 😎 */

h1 {
	font-size: 3em;
	color: #525252;
}

/* TODO: actual button style */
button {
	background-color: #cfec85;
	padding: 6px 12px;
	border: #000 1px solid;
}

button:hover {
	background-color: #a7e36a;
}

button:focus {
	outline: 4px solid #dc143c;
	/*border-radius: 5px;*/
}

button:disabled {
	background-color: #adadad;
	color: #797979;
}


/* TODO: actual input styles */
input {
	background-color: #f3f3f3;
	padding: 6px;
	margin: 4px 0 4px 0;
}

input::placeholder {
	color: #6c6c6c;
	font-size: .5em;
	font-style: italic;
}

label {
	display: flex;
	flex-direction: column;
	margin: 4px 0 4px 0;
}

.timer {
	font-size: 4em;
	font-family: monospace;
}

.timer-complete {
	animation: blink .8s step-start infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.headlineControls {
	margin: 24px;
}

.headlineControls label {
	font-size: 2em;
}

.headlineControls input {
	font-size: 1em;
}

.headlineControls input::placeholder {
	font-size: .7em;
}
