<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="js.build_tools.npm">
    <package-json value="$PROJECT_DIR$/zap-server/package.json" />
    <command value="run" />
    <scripts>
      <script value="dev" />
    </scripts>
    <node-interpreter value="project" />
    <envs>
      <env name="STORAGE_PATH" value="$USER_HOME$/ZapStorage" />
    </envs>
    <method v="2" />
  </configuration>
</component>